body{
  background-color:#ecf0f1;
  font-family:"Helvetica", Arial;
}

h1{
  color:#1d2ad5;
}

a{
  color: #1d2ad5;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #c3d7df;
  }

ul {
  list-style: none;
}

nav ul li{
  color: #1d1d1d;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}
